# Rendered by configure_dns.py. DNS on Laptop 1, no DHCP service.
port=53
listen-address={{DNS_IP}}
bind-interfaces
no-resolv
no-hosts
domain-needed
bogus-priv
local=/{{ZONE}}/
local-ttl={{DNS_TTL}}
host-record={{APP_DOMAIN}},{{EDGE_IP}},{{DNS_TTL}}
host-record={{API_DOMAIN}},{{EDGE_IP}},{{DNS_TTL}}
log-queries=extra
log-facility={{DNS_LOG}}
pid-file={{DNS_PID}}
{{UPSTREAM_LINES}}
