# Rendered by configure_dns.py. DNS on Laptop 1, no DHCP service.
port=53
listen-address={{DNS_IP}}
interface=en0
bind-interfaces
no-resolv
no-hosts
domain-needed
bogus-priv
local=/{{ZONE}}/
local-ttl={{DNS_TTL}}
address=/{{APP_DOMAIN}}/{{EDGE_IP}}
address=/{{API_DOMAIN}}/{{EDGE_IP}}
log-queries=extra
log-facility={{DNS_LOG}}
pid-file={{DNS_PID}}
{{UPSTREAM_LINES}}
